body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 20px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00bf63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #078e4d;
}

#factResults {
    margin-top: 20px;
}
